.jl-product-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.jl-product-row-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.jl-modal {
    max-width: 700px;
    margin: auto;
    margin-top: 10vh;
    width: 50vw;
    padding: 10px;
    background-color: white;
    border: 10px solid #ffffff;
    border-radius: 15px;
}

.hover:hover {
    cursor: pointer;
}

.jl-product-img {
    width: 70px;
    flex: 1;
    object-fit: contain;
    margin: auto;
    border-radius: 7px;
}

.close-button {
    height: 20px;
    margin: 5px;
}

.button-small {
    height: 15px;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


.jl-container-receipe,
.jl-bottom-container,
.jl-container-total {
    display: flex;
    padding: 16px 14px 16px 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.jl-container-receipe {
    border-top: 2px solid rgba(0, 0, 0, 0.30);
    border-bottom: 2px solid rgba(0, 0, 0, 0.30);
}

.jl-container-product-text {
    margin-left: 10px;
    padding: 10px;
    flex: 10;
}

.jl-border-container {
    padding: 5px;
    border-radius: 17px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    margin-bottom: 1%;
}


.jl-container-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
}

.jl-bottom-container {
    margin-bottom: 0px;
    margin-top: 1rem;
    border-top: 2px solid rgba(0, 0, 0, 0.30);
    border-bottom: 2px solid rgba(0, 0, 0, 0.30);
}

.jl-bottom-text {
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.30);
}

.jl-receip-text {
    color: rgba(0, 0, 0, 0.30);
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.jl-total-title {
    font-family: "stolzl", sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
}

.jl-tital-price {
    font-size: 16px;
}

.jl-product-name {
    margin-bottom: 0px;
    font-family: "stolzl", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    flex: 1;
}

.jl-product-description {
    margin-bottom: 0px;
    font-size: 13px;
}

.jag-button-selected{
    border-color: var(--blue);
    border-width: 1px;
}

.jl-product-price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.jl-product-quantity {
    flex: 1;
    margin-bottom: 0px;
    font-size: 13px;
}

.title {
    font-family: "stolzl", sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.jl-text-hint {
    font-size: 13px;
    font-weight: 400;
    flex: 1;
    margin: auto;
}

p {
    color: #000;
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}


.jl-button {
    width: 84%;
    margin: auto;
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 15px;
    background: #000;
    color: #FFF;
    font-family: var(--police);
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}

.jl-button:hover {
    background-color: #5663FF;
}

.jl-input {
    width: 30%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;

}

.jl-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.jl-cart-number {
    cursor: pointer;
    position: relative;
    background-color: var(--baby-blue);
    height: 15px;
    width: 15px;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    transform: translate(-290%, 20%);
}

.jl-color-selected {
    border: 2px solid white;
}


.jl-snack-icon {
    height: 20px;
    align-items: start;

}

.jl-snack-icon-container {
    display: flex;
    width: 10%;
}

.jl-snack-text-container {
    width: 80%;
}

#jl-snackbar {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 250px;
    color: black;
    text-align: center;
    padding: 10px 16px;
    position: fixed;
    z-index: 1000000;
    right: 10%;
    left: 50%;
    top: 100px;
    font-size: 17px;
    border-radius: 7.5px;
    background: #fff;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.10);

}

#jl-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.jl-snack-green {
    border: solid 2px green;
}
.jl-snack-red {
    border: solid 2px red;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 100px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 100px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 100px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 100px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

.text-selected {
    font-weight: bold;
    color: #000;
}

.jl-loader-container {
    background-color: #000000c4;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jl-no-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 666px) {
    .jl-modal {
        width: 90vw;
        margin-top: 15vh;
    }


    #jl-snackbar {
        left: 10%;
    }
}